@import '../../sass/mixins';
@import '../../sass/variables';

.blog__section{
    display: grid;
    grid-template-columns: min-content minmax(min-content, max-content);

    margin-top: 2rem;
    margin-bottom: 3rem;

    &:not(:last-child){
        margin-bottom: 0;
    }

    @include respond(phone-700) {
        grid-template-columns: 1fr;
        grid-template-rows: min-content minmax(min-content, max-content);
    }
    
    &__image{
        border: 2px solid $base_color_dark;
        overflow: hidden;

        img {
            display: block;
            object-fit: cover;
            height: 100%;

            @include respond(phone-700) {
               width: 100%;
            }
        }
    }


    &__text{
        padding: 5rem 3rem;
        border: 2px solid $base_color_dark;
        border-left: none;

        display: grid;
        justify-items: center;


        @include respond(phone-700) {
            border: 2px solid $base_color_dark;
            border-top: none;

        }

        &:last-child{
            align-items: end;
        }

        p{
            font-size: 1.6rem;
            text-align: center;
        }

        a{
            margin-top: 2rem;
        }
    }
}

