@import '../../../sass/mixins';
@import '../../../sass/variables';

.blog__section{
    display: grid;
    grid-template-columns: min-content minmax(min-content, max-content);

    margin-top: 2rem;
    margin-bottom: 3rem;

    &:not(:last-child){
        margin-bottom: 0;
    }

    @include respond(phone-700) {
        grid-template-columns: 1fr;
        grid-template-rows: min-content minmax(min-content, max-content);
    }
    
    &__image{
        border: 2px solid $base_color_dark;
        overflow: hidden;

        img {
            display: block;
            object-fit: cover;
            height: 100%;

            @include respond(phone-700) {
               width: 100%;
            }
        }
    }


    &__text{
        padding: 5rem 3rem;
        border: 2px solid $base_color_dark;
        border-left: none;

        display: grid;
        justify-items: center;


        @include respond(phone-700) {
            border: 2px solid $base_color_dark;
            border-top: none;

        }

        &:last-child{
            align-items: end;
        }

        p{
            font-size: 1.6rem;
            text-align: center;
        }

        a{
            margin-top: 2rem;
        }
    }
}

.blog__header__second{
    display: inline-block;
    text-align: center;

    color: $base_color_dark;
    font-family: $font_family_3;
    font-size: 2.2rem; 
    padding: 1.2rem .5rem;

}



.btn__black {
    text-decoration: none;
    text-transform: uppercase;  border: none;
    cursor: pointer;
    display: inline-block;   
    padding: 0.5rem 1.5rem;
    background-color: $base_color_dark;
    color: $base_color_light;
    box-shadow: 0 .5rem 1rem rgba(black, 0.4);  
    font-size: 2rem;
    font-family: $font_family_1;
    transition: all .2s;
    border: 2px solid transparent;

    &:hover {
        background-color: $base_color_light;
        color: $base_color_dark;
        border: 2px solid $base_color_dark;
    }

    @include respond(tabl-lands-1200) {
        padding: 1.5rem 2.2rem;
    }

    @include respond(tabl-port-900) {
        padding: 1.0rem 1.5rem;
    }

    @include respond(tabl-port-800) {
        padding: 1.0rem 1.5rem;
        font-size: 1.5rem;
    }  

}

