$font_family_1:'Poller One', regular;
$font_family_2:'Leckerli One', cursive;
$font_family_3:"Arial Black", Gadget, sans-serif;
$font_family_4:  'Open Sans', sans-serif;


$base_color_dark: #252525; 
$base_color_green: #09BFA9; 
$base_color_green_light: #19DFC7; 
$base_color_light: white; 
