@import '../../sass/mixins';
@import '../../sass/variables';


.blog {
    grid-column: center-start/ center-end;

    display: flex;
    flex-direction: column;

    &__title{
        text-align: center;
    }
}

