@import '../../../../sass/variables';
@import '../../../../sass/mixins';



.person{
    display: grid;
    justify-items: center;
    margin: 2rem;

    &__photo{
        height: 25rem;
        filter: opacity(.8);
        transition: all .3s;
        
        &:hover {
            filter: opacity(1)
        }
        
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
            display: block;
            border: 3px solid black;

        }
    }
}  
.header__main{
    display: inline-block;
    text-align: center;
    padding: 1.2rem .5rem;
    background-color: $base_color_light;
    color: $base_color_dark;
    font-family: $font_family_1;
    font-size: 3rem;
    text-transform: uppercase;

    &--large{
        font-size: 3.5rem;
        text-transform: uppercase;
        background-color: $base_color_dark;
        color: $base_color_light;
      
    }

    @include respond(phone-700) {
        font-size: 2.2rem;
    }
}

