@import '../../sass/variables';
@import '../../sass/mixins';

.header__main__large{
    display: inline-block;
    text-align: center;
    padding: 1.2rem .5rem;
    background-color: $base_color_dark;
    color: $base_color_light;;
    font-family: $font_family_1;
    font-size: 3.5rem;
    text-transform: uppercase;

    @include respond(phone-700) {
        font-size: 2.2rem;
    }
}